html,
body {
  padding: 0;
  margin: 0;
  font-family: EuclidCircular, Arial, Helvetica, sans-serif;
  background-color: #0c0a1d;
  color: rgba(255, 255, 255, 0.96);
}

h1,
h2,
h3 {
  text-shadow: 0 0 80px rgba(192, 219, 255, 0.48), 0 0 32px rgba(65, 120, 255, 0.24);
}

a {
  color: inherit;
  text-decoration: none;
  background-color: #151c42;
}

* {
  box-sizing: border-box;
}
