html,
body {
  padding: 10px;
  margin: 0;
  font-family: EuclidCircular, Arial, Helvetica, sans-serif;
  background-color: white;
  color: #0c0a1d;
}

header {
  margin-bottom: 10px;
}

h1,
h2,
h3 {
  text-shadow: 0 0 80px rgba(22, 25, 29, 0.48), 0 0 32px rgba(1, 2, 5, 0.24);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
